SESSION_KEY=U_0r-QyhBpzuoGhP8cIGKrDsvT4DeEYx97s4n7eGtJc=
ADMIN_EMAIL=admin@admin.com
ADMIN_PASSWORD=$tr0ngPa$$w0rd
ADMIN_VK_ID=1
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=$tr0ngPa$$w0rd
DATABASE_NAME=amigos
BOT_TOKEN=vk_token
BOT_GROUP_ID=1
RABBIT_HOST=rabbitmq
RABBIT_PORT=5672
RABBIT_USER=guest
RABBIT_PASSWORD=$tr0ngPa$$w0rd
RABBIT_VHOST=amigos
RABBIT_QUEUE=amigos
